main {
    max-width: 840px;
}
aside {
    width: auto;
    color: #0a1214;
    text-align: center;

}
aside img {
    width: 200px;
    height: auto;
}
p{
    padding: 0;
}
footer {
    margin-top: 25px;
    border-top: 3px dotted #21241e;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Class selector*/
.box {
    margin: 1rem;
    border: 3px solid #0a1214;
    padding: 4rem;
    background-color: #ebbcbc;
}
main img {
    width: 120px;
    height: auto;
    float: right;
    margin-bottom: 5px;
}
h2 aside {
    position: absolute;
    top: 30px;
    left: 140px;
}
