main {
    max-width: 840px;
}
aside {
    width: auto;
    color: #0a1214;
    text-align: center;

}
aside img {
    width: 200px;
    height: auto;
}
p{
    padding: 0;
}
footer {
    margin-top: 25px;
    border-top: 3px dotted #21241e;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Class selector */
.box {
    margin: 1rem;
    border: 3px solid #0a1214;
    padding: 4rem;
    background-color: #ebbcbc;
}
main img {
    width: 120px;
    height: auto;
    float: right;
    margin-bottom: 5px;
}
h2 aside {
    position: absolute;
    top: 30px;
    left: 140px;
}
/* the week 04 modification */

header, footer {
    max-width: 840px;
    margin: auto;
}
nav {
    display: flex;
    background-color: aliceblue;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: yellowgreen;

}
h1 {
    color: darkgoldenrod;
    border-bottom: 2px solid ;
}
header, .grid, footer {
    max-width: 1500px;
    padding: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main {
    grid-column: 2/3;
    margin: 0;
}
aside {
    width: 20rem;
    position:relative;
    grid-column: 1/2;
    grid-row: 1/3;
}